.header{
  background-image: url("IMG_0052.jpg/500x200");
  text-align: center;
  margin: 10px 20px 10px 20px;
}
.about-us{
  font-size: 20px;
  opacity: 0.5;
  
}
.list-title{
  font-weight: bold;
}
h1{
  color: Black;
  font-family: Space Mono;
}

body{
  font-family: Georgia;
  background-image: url("https://sftextures.com/texture/2748/0/2743/corner-pattern-background-light-grey-color-squared-90-degrees-lines-seamless-wallpaper-texture.jpg");
}
h3{
  color: purple;
}
h4{
  color: purple;
}
table, tr, th, td {
  border: 1px dotted black;
   padding: 10px;
} 
.social-table{
 background-color: #ffa8f0;
}
.form, .formtwo, .formthree{
  text-allign: center;
  padding: 20px;
}
.social-table{
  margin: 0 auto;
}
p {
 font-size: 25px;
 font-weight: bold;
}
.jeen{
  size: 5px;
  margin: 0 auto;
}




