.header{
  background-image: url("IMG_0052.jpg/500x200");
  text-align: center;
  margin: 10px 20px 10px 20px;
}
.about-us{
  font-size: 20px;
  opacity: 0.5;
  
}
.list-title{
  font-weight: bold;
}
h1{
  color: Black;
  font-family: Space Mono;
}

h2{
  color: Black;
  font-size: 30px;
}
body{
  font-family: Georgia;
  background-image: url("https://data.whicdn.com/images/307331900/original.gif");

}
h3{
  color: purple;
}
h4{
  color: purple;
}
table, tr, th, td {
  border: 1px dotted black;
   padding: 10px;
} 
.social-table{
 background-color: #ffa8f0;
}
.form, .formtwo, .formthree{
  text-allign: center;
  padding: 20px;
}
.social-table{
  margin: 0 auto;
}
p {
 font-size: 25px;
 font-weight: bold;
}
.cucopart, .brockpart, .cosmicpart, .avengerpart{
  font-size: 15px;
  opacity: 0.75;
}


